<ion-content>
    <div class="bg-default">
        <div class="wrap-center">
            <div id="formIdPassword" class="bg-light shadow-lg rounded-3 p-lg-5 p-4">
                <!-- Logo & Title -->
                <section class="text-center">
                    <img id="logo" src="assets/img/arx_logo.jpeg" alt="Ar-Rahnu" width="200" />
                    <h6 class="mt-1 text-center font-size-10 fw-bold">{{ g.getEnvName() + ' ' + g.getEnvAppVer() | uppercase }}</h6>
                    <h5 class="mt-3 text-center fw-bold">{{ 'LOGIN.TITLE' | translate }}</h5>
                </section>
                <!-- Form: Login & Select Location -->
                <form [formGroup]="formIdPassword" class="w-100" (ngSubmit)="submit()">
                    <mat-form-field appearance="outline" hideRequiredMarker="true" floatLabel="always" class="mt-4">
                        <mat-label><fa-icon icon="user" class="me-2"></fa-icon>ID</mat-label>
                        <span matPrefix><i class="ms-3"></i>+60</span>
                        <input matInput formControlName="id" type="text" (keypress)="g.numberOnly($event)" autocapitalize="none" required />
                        <mat-error *ngIf="(formIdPasswordControl['id'].touched || formIdPasswordSubmitted) && formIdPasswordControl['id'].invalid">
                            <span *ngIf="formIdPasswordControl['id'].errors?.['required']"><strong>{{ 'ERROR.REQUIRED' | translate | lowercase }}</strong></span>
                            <span *ngIf="formIdPasswordControl['id'].errors?.['pattern']"><strong>{{ 'ERROR.INVALID' | translate | lowercase }}</strong></span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" hideRequiredMarker="true" floatLabel="always" class="mt-3">
                        <mat-label><fa-icon icon="lock" class="me-2"></fa-icon>{{ 'PASSWORD' | translate }}</mat-label>
                        <input matInput formControlName="password" type="password" autocapitalize="none" required />
                        <mat-error *ngIf="(formIdPasswordControl['password'].touched || formIdPasswordSubmitted) && formIdPasswordControl['password'].invalid">
                            <span *ngIf="formIdPasswordControl['password'].errors?.['required']"><strong>{{ 'ERROR.REQUIRED' | translate | lowercase }}</strong></span>
                        </mat-error>
                    </mat-form-field>
                    <button class="btn btn-success mt-2 mb-4 w-100" type="submit">{{ 'LOGIN.BTN_LOGIN' | translate }}</button>
                </form>
                <div class="font-size-12">
                    <!-- <a href="javascript:void(0)">Forgot password ?</a><br> -->
                    {{ 'LOGIN.REGISTER_HERE_DESC' | translate }} <a href="javascript:void(0)" (click)="g.redirectTo('register')">{{ 'LOGIN.REGISTER_HERE' | translate }}</a><br>
                    <ion-select [(ngModel)]="defaultLang" #drpLanguage label="{{ 'LANGUAGE' | translate }}:" justify="start" interface="action-sheet" (ionChange)="this.g.setLanguage(drpLanguage.value)">
                        <ion-select-option value="en">English</ion-select-option>
                        <ion-select-option value="ms">Bahasa Melayu</ion-select-option>
                    </ion-select>
                </div>
            </div>
        </div>
    </div>
</ion-content>