<ion-header class="ion-no-border">
    <ion-toolbar id="navbar" class="pt-5 pt-lg-0 pb-2">
        <ion-img slot="start" id="navbarLogo" src="assets/img/arx_logo.jpeg" alt="image"></ion-img>
        <ion-buttons slot="end">
            <a id="navbarLogout" class="ms-auto" href="javascript: void(0);" (click)="openModalLogout()">
                <fa-icon icon="power-off" class="my-auto me-2"></fa-icon><span class="font-size-14">Logout</span>
            </a>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<!-- Modal: Logout Confirmation -->
<ng-template #modalLogout let-modal>
    <div class="modal-body text-center p-4">
        <fa-icon icon="door-open" class="my-auto" size="2x"></fa-icon>
        <h6 class="my-3">Are you sure to logout?</h6>
        <button type="button" class="btn btn-secondary me-3" (click)="modal.close('No')">No</button>
        <button type="button" class="btn btn-danger" (click)="logout(); modal.close('Cancel Appointment')">Yes</button>
    </div>
</ng-template>