<body class="bg-default">
    <app-loader></app-loader>
    <div class="wrap-center">
        <form id="registerForm" class="bg-light shadow-lg rounded-3 px-4 px-lg-5 py-4">
            <img id="logo" src="assets/img/arx_logo.jpeg" alt="Ar-Rahnu" width="150" />
            <h5 *ngIf="" (class)="'mt-3 text-center fw-bold ' + (urlParamStatus == 'success' ? 'text-success' : 'text-danger')">
                {{ urlParamStatus == 'success'      ? 'Account Created'          : '' }}
                {{ urlParamStatus == 'exist'        ? 'Account Already Exist'    : '' }}
                {{ urlParamStatus == 'unverified'   ? 'Account Not Yet Verified' : '' }}
            </h5>
            <div class="mt-3 text-center">
                <p *ngIf="urlParamStatus == 'success'" class="font-size-14">
                    Thank you for registering to the ARX eQMS.
                    <!-- <br><br>
                    We already sent a verification link to your email address. <br>
                    Please check and click the link to start login. -->
                </p>
                <p class="font-size-14">
                    {{ urlParamStatus == 'exist'        ? 'Sorry, an account with the registered email address or telephone number already exist.' : '' }}
                    {{ urlParamStatus == 'unverified'   ? 'It seems that you haven\'t verify your account using the verification link sent to your email address.' : '' }}
                </p>
                <button type="button" class="btn btn-secondary mt-2" (click)="back()">{{ btnBackText }}</button>
                <!-- <p *ngIf="urlParamStatus == 'success' || urlParamStatus == 'unverified'" class="font-size-12 mt-3">Did not receive any emai? <a href="#">Resend verification link</a></p> -->
            </div>
        </form>
    </div>
</body>