<ion-tabs>
    <ion-tab-bar slot="bottom" class="pt-2 pb-3">
        <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>Home
        </ion-tab-button>
        <ion-tab-button tab="checkin">
            <ion-icon name="scan"></ion-icon>Check-In
        </ion-tab-button>
        <ion-tab-button tab="book-appt">
            <ion-icon name="bookmark"></ion-icon>Appointment
        </ion-tab-button>
        <ion-tab-button tab="profile">
            <ion-icon name="person"></ion-icon>Profile
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>