<ion-content [fullscreen]="true" color="light" class="pt-5 pt-lg-0">
    <ion-toolbar class="pt-5 pt-lg-0 topbar px-3">
        <ion-img slot="start" id="topbarLogo" class="mx-auto" src="assets/img/arx_logo.jpeg" alt="image"></ion-img>
        <ion-buttons slot="end">
            <a id="topbarLogout" class="ms-auto text-light" href="javascript: void(0);" (click)="openAlertLogout()">
                <fa-icon icon="power-off" class="my-auto me-2"></fa-icon><span class="font-size-14">Logout</span>
            </a>
        </ion-buttons>
    </ion-toolbar>
    <div class="header"></div>
    <ion-grid>
        <!-- Summary & Widget -->
        <ion-row class="ion-margin-horizontal">
            <ion-col class="ion-text-center">
                <ion-label>
                    <ion-note color="light" class="font-size-20 fw-bold">
                        Welcome to ARX eQMS,<br>
                        {{ username | titlecase }}<fa-icon icon="face-smile-beam" class="face-smile-beam ms-1 text-warning"></fa-icon>
                    </ion-note>
                </ion-label>
            </ion-col>
        </ion-row>
        <!-- Appointment/Booking/Walk-in Card -->
        <ion-row class="ion-margin-horizontal ion-justify-content-center mt-3">
            <ion-col size="auto">
                <ion-card class="ion-text-center shadow-sm rounded-4">
                    <ion-card-content>
                        <div id="walkin" *ngIf="isWalkIn">
                            <!-- Walk-In: Icon -->
                            <fa-icon *ngIf="walkInData[0].WalkInStat == 'QUEUING'" icon="check-double"   size="5x" class="text-success"></fa-icon>
                            <fa-icon *ngIf="walkInData[0].WalkInStat == 'UNKNOWN'" icon="phone-volume"   size="5x" class="text-danger-emphasis wave"></fa-icon>
                            <fa-icon *ngIf="walkInData[0].WalkInStat == 'SERVING'" icon="bell-concierge" size="5x" class="text-dark"></fa-icon>
                            <!-- Walk-In: Message -->
                            <p class="font-size-12 my-3">
                                {{ walkInData[0].WalkInStat == 'QUEUING' ? 'You\'ve successfully checked-in!' : ''}}
                                {{ walkInData[0].WalkInStat == 'UNKNOWN' ? 'It\'s your turn! Please head to the calling counter' : '' }}
                                {{ walkInData[0].WalkInStat == 'SERVING' ? 'You\'re currently being served!' : '' }}
                            </p>
                            <!-- Walk-In: Status Title / UniqCallID -->
                            <h2>{{ this.uniqCallID | uppercase }}</h2>
                            <h3>{{ walkInData[0].Service }}</h3>
                            <!-- Walk-In: Notice -->
                            <p *ngIf="walkInData[0].WalkInStat == 'QUEUING'" class="font-size-12 mt-3"> *Please wait in the waiting area, we'll call and serve you in a few minutes.</p>
                        </div>
                        <div id="appt" *ngIf="isAppt">
                            <!-- Appt: Icon -->
                            <fa-icon *ngIf="apptData[0].ApptStat == 'NEW'"     icon="calendar-check" size="5x" class="text-primary"></fa-icon>
                            <fa-icon *ngIf="apptData[0].ApptStat == 'QUEUING'" icon="check-double"   size="5x" class="text-success"></fa-icon>
                            <fa-icon *ngIf="apptData[0].ApptStat == 'SERVING'" icon="bell-concierge" size="5x" class="text-dark"></fa-icon>
                            <!-- Appt: Message -->
                            <p class="font-size-12 my-3">
                                {{ apptData[0].ApptStat == 'NEW'     ? 'Don\'t forget you\'ve an appointment with us!' : ''}}
                                {{ apptData[0].ApptStat == 'QUEUING' ? 'You\'ve successfully checked-in!' : '' }}
                                {{ apptData[0].ApptStat == 'SERVING' ? 'You\'re currently being served!' : '' }}
                            </p>
                            <!-- Appt: Status Title / UniqCallID -->
                            <h2 *ngIf="apptData[0].ApptStat == 'QUEUING' || apptData[0].ApptStat == 'SERVING'">{{ this.uniqCallID | uppercase }}</h2>
                            <h3>
                                {{ apptData[0].Service }}<br>
                                {{ apptData[0].ApptStat == 'NEW' ? apptData[0].ApptTime_Disp + ', ' + apptData[0].ApptDate_Disp + '\<br\>' : '' }}
                                {{ apptData[0].ApptStat == 'NEW' ? apptData[0].OutletDesc : '' }}
                            </h3>
                            <!-- Appt: Notice -->
                            <p *ngIf="apptData[0].ApptStat == 'NEW' || apptData[0].ApptStat == 'QUEUING'" class="font-size-12 mt-3">
                                {{ apptData[0].ApptStat == 'NEW'     ? '*Please be at the outlet 15 minutes before the appointment time to avoid being forfeited.' : '' }}
                                {{ apptData[0].ApptStat == 'QUEUING' ? '*Please wait in the waiting area, we\'ll call and serve you in a few minutes.' : '' }}
                            </p>
                            <div *ngIf="apptData[0].ApptStat == 'NEW'" class="btn-group mt-2">
                                <button type="button" class="btn btn-danger" (click)="openAlertCancelAppt();">Cancel</button>
                            </div>
                        </div>
                        <div *ngIf="!isAppt && !isWalkIn">
                            <fa-icon icon="calendar-xmark" size="4x" class="text-danger"></fa-icon>
                            <h5 class="mt-3">You don't have any appointment with us at the moment</h5>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-list class="mt-lg-3 ion-no-border">
            <!-- Latest News -->
            <ion-list-header>
                <ion-label>Latest News</ion-label>
            </ion-list-header>
            <ion-item class="news" lines="none">
                <ion-row class="ion-margin-horizontal ion-justify-content-center">
                    <ion-col *ngFor="let item of newsFeedData">
                        <div [innerHTML]="item.HTMLContent" class="py-3 h-100"></div>
                    </ion-col>
                </ion-row>
            </ion-item>
            <!-- About Us -->
            <ion-list-header>
                <ion-label>About Us</ion-label>
            </ion-list-header>
            <ion-item class="about py-4 px-4" lines="none">
                <p class="text-justify">
                    The ultimate goal of Ar-Rahnu Exchange Electronic Queue Management System (ARX eQMS) is to provide efficient 
                    customer service, reduce waiting time and enhance customer experience.
                </p>
            </ion-item>
        </ion-list>
    </ion-grid>
    <!-- Modal: Check-In Success -->
    <ng-template #modalCheckInSuccess let-modal>
        <div class="modal-body text-center p-4">
            <h1 class="text-success fw-bolder">Check-In Successful</h1>
            <h6>Please wait at the waiting area. We'll call and serve you in a few minutes.</h6>
            <button type="button" class="btn btn-secondary mt-3 w-100" (click)="modal.close('OK')">OK</button>
        </div>
    </ng-template>
</ion-content>
<!-- <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="pe-3">
    <ion-fab-button (click)="scrollToTop()" color="secondary" matTooltip="Scroll to top">
        <fa-icon icon="plane-up" class="text-light"></fa-icon>
    </ion-fab-button>
</ion-fab> -->