#topbarLogo { width: 180px; }

ion-content {
    * { 
        font-family   : "Poppins", sans-serif; 
        letter-spacing: 1px;
    }

    .header {
        background   : var(--primary-color);
        border-radius: 0 0 10% 10%;
        box-shadow   : 0 1px 10px var(--ion-color-light);
        height       : 200px;
    }

    ion-grid {
        left          : 0;
        padding-bottom: 8vh;
        position      : absolute;
        top           : 10vh;
        width         : 100%;
        
        ion-row {
            ion-col {
                ion-label { ion-note { line-height: 8px; } }

                ion-card {
                    cursor: pointer;
                    margin: 3px 0;

                    ion-card-content {
                        background     : linear-gradient(rgba(189, 159, 50, 0.9), rgba(189, 159, 50, 0.9)), url("^assets/img/linear_abstract.jpg") repeat-x !important;
                        background-size: cover;
                        color          : #fff;
                        display        : flex;
                        flex-flow      : column;
                        padding        : 30px !important;
                        
                        h2      { font-size: 30px; font-weight: 600; line-height: 28px; }
                        h3      { font-size: 20px; font-weight: 600; line-height: 25px; margin: 10px 0px; }
                        h4      { font-weight: 600; }
                        button  { width: 180px; }
                    }

                    &:hover { transform: scale(0.95); }
                }
            }
        }

        .section {
            margin        : 50px 0;
            padding-bottom: 15px;
            text-align    : center;

            .title {
                font-size     : 25px;
                font-weight   : 600;
                padding-bottom: 10px;
                position      : relative;
        
                &:after {
                    background: var(--secondary-color);
                    bottom    : 0;
                    content   : "";
                    display   : block;
                    height    : 3px;
                    left      : 0;
                    margin    : auto;
                    position  : absolute;
                    right     : 0;
                    width     : 50px;
                }
            }
        
            p {
                color        : #6f6f6f;
                margin-bottom: 0;
            }
        }
    }
}

/* Laptops/desktops, 1200px and up */
@media only screen and (min-width: 1200px) {}

/* Small laptops/desktops, 992px and up */
@media only screen and (min-width: 992px) {}

/* Landscape tablets, 992px and down */
@media only screen and (max-width: 992px) {
    ion-grid { top: 15vh !important; }
}

/* Landscape tablets, 768px and up */
@media only screen and (min-width: 768px) {}

/* Portrait tablets and larger phones, 768px and down */
@media only screen and (max-width: 768px) {}

/* Portrait tablets and larger phones, 600px and up */
@media only screen and (min-width: 600px) {}

/* Phones, 600px and down */
@media only screen and (max-width: 600px) {
    #walkin, #appt {
        h1 { font-size: 11vw; }
    }
}