<ion-content [fullscreen]="true" color="light" [class]="g.isMobileWeb ? 'pt-5' : ''">
    <ion-toolbar [class]="'topbar px-3 ' + (g.isMobileWeb ? 'pt-5' : '')">
        <ion-img slot="start" id="topbarLogo" class="mx-auto" src="assets/img/arx_logo.jpeg" alt="image"></ion-img>
        <ion-buttons slot="end">
            <a id="topbarLogout" class="ms-auto text-light" href="javascript: void(0);" (click)="openAlertLogout()">
                <fa-icon icon="power-off" class="my-auto me-2"></fa-icon><span class="font-size-14">{{'LOGOUT' | translate}}</span>
            </a>
        </ion-buttons>
    </ion-toolbar>
    <div class="header"></div>
    <ion-grid *ngIf="loaded" class="ion-padding-horizontal">
        <!-- Summary & Widget -->
        <ion-row>
            <ion-col class="ion-text-center">
                <ion-label>
                    <ion-note color="light" class="font-size-18 fw-bold">
                        {{'SCRN_HOME.GREETING' | translate}},<br>{{username | titlecase}}
                    </ion-note>
                </ion-label>
            </ion-col>
        </ion-row>
        <!-- Appointment/Booking/Walk-in Card -->
        <ion-row class="ion-justify-content-center mt-2">
            <ion-col size="auto">
                <ion-card class="ion-text-center shadow-sm rounded-4">
                    <ion-card-content>
                        <section *ngIf="walkInData[0] != null && walkInData[0].WalkInStat != 'COMPLETE'">
                            <div id="walkin">
                                <!-- Walk-In: Icon -->
                                <fa-icon *ngIf="walkInData[0].WalkInStat == 'QUEUING'" icon="check-double"   size="5x" class="text-success"></fa-icon>
                                <fa-icon *ngIf="walkInData[0].WalkInStat == 'UNKNOWN'" icon="phone-volume"   size="5x" class="text-danger-emphasis wave"></fa-icon>
                                <fa-icon *ngIf="walkInData[0].WalkInStat == 'SERVING'" icon="bell-concierge" size="5x" class="text-dark"></fa-icon>
                                <!-- Walk-In: Message -->
                                <p class="font-size-12 my-3">
                                    {{walkInData[0].WalkInStat == 'QUEUING' ? ('SCRN_HOME.CHECKIN_SUCCESS' | translate) : ''}}
                                    {{walkInData[0].WalkInStat == 'UNKNOWN' ? ('SCRN_HOME.CALLING_MSG'     | translate) : ''}}
                                    {{walkInData[0].WalkInStat == 'SERVING' ? ('SCRN_HOME.SERVING_MSG'     | translate) : ''}}
                                </p>
                                <!-- Walk-In: Status Title / UniqCallID -->
                                <h2>{{this.uniqCallID | uppercase}}</h2>
                                <h3>{{walkInData[0].Service}}</h3>
                                <!-- Walk-In: Notice -->
                                <p *ngIf="walkInData[0].WalkInStat == 'QUEUING'" class="font-size-12 mt-3">{{'SCRN_HOME.WAIT_MSG' | translate}}</p>
                            </div>
                        </section>
                        <section *ngIf="apptData[0] != null && apptData[0].ApptStat != 'COMPLETE'">
                            <div id="appt">
                                <!-- Appt: Icon -->
                                <fa-icon *ngIf="apptData[0].ApptStat == 'NEW'"     icon="calendar-check" size="5x" class="text-primary"></fa-icon>
                                <fa-icon *ngIf="apptData[0].ApptStat == 'QUEUING'" icon="check-double"   size="5x" class="text-success"></fa-icon>
                                <fa-icon *ngIf="apptData[0].ApptStat == 'SERVING'" icon="bell-concierge" size="5x" class="text-dark"></fa-icon>
                                <!-- Appt: Message -->
                                <p class="font-size-12 my-3">
                                    {{apptData[0].ApptStat == 'NEW'     ? ('SCRN_HOME.APPT_NEW_MSG'    | translate) : ''}}
                                    {{apptData[0].ApptStat == 'QUEUING' ? ('SCRN_HOME.CHECKIN_SUCCESS' | translate) : ''}}
                                    {{apptData[0].ApptStat == 'SERVING' ? ('SCRN_HOME.SERVING_MSG'     | translate) : ''}}
                                </p>
                                <!-- Appt: Status Title / UniqCallID -->
                                <h2 *ngIf="apptData[0].ApptStat == 'QUEUING' || apptData[0].ApptStat == 'SERVING'">{{this.uniqCallID | uppercase}}</h2>
                                <h3>
                                    {{apptData[0].Service}}<br>
                                    {{apptData[0].ApptStat == 'NEW' ? apptData[0].ApptTime_Disp + ', ' + apptData[0].ApptDate_Disp : ''}}<br *ngIf="apptData[0].ApptStat == 'NEW'">
                                    {{apptData[0].ApptStat == 'NEW' ? apptData[0].OutletDesc : ''}}
                                </h3>
                                <!-- Appt: Notice -->
                                <p *ngIf="apptData[0].ApptStat == 'NEW' || apptData[0].ApptStat == 'QUEUING'" class="font-size-12 mt-3">
                                    {{apptData[0].ApptStat == 'NEW'     ? ('SCRN_HOME.APPT_NEW_NOTICE' | translate) : ''}}
                                    {{apptData[0].ApptStat == 'QUEUING' ? ('SCRN_HOME.WAIT_MSG'        | translate) : ''}}
                                </p>
                                <button *ngIf="apptData[0].ApptStat == 'NEW'" type="button" class="btn btn-danger mt-2" (click)="openAlertCancelAppt();">{{'CANCEL' | translate}}</button>
                            </div>
                        </section>
                        <div *ngIf="apptData[0] == null && walkInData[0] == null">
                            <fa-icon icon="calendar-xmark" size="4x" class="text-danger"></fa-icon>
                            <h5 class="mt-3">{{'SCRN_HOME.NO_APPT' | translate}}</h5>
                        </div>
                        <div *ngIf="!checkInData.enableScanner">
                            <p class="font-size-10 mt-2"><b>{{'NOTE' | translate}}:</b> {{checkInData.msgDisabledScanner}}</p>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <!-- Current Market Price & Rate -->
        <section id="market" class="section">
            <ion-label class="title">{{'SCRN_HOME.TITLE.GOLD_MARKET_PRICE' | translate}}</ion-label>
            <div class="mt-4 rounded-3 bg-white py-3 w-100">
                <iframe [src]="urlCurentGoldMarketPrice" class="w-100" style="height: 270px;"></iframe>
            </div>
        </section>
        <!-- Latest News -->
        <section id="news" class="section">
            <ion-label class="title">{{'SCRN_HOME.TITLE.LATEST_NEWS' | translate}}</ion-label>
            <ion-row class="mt-4 ion-justify-content-center">
                <ion-col size="12" size-sm="3" *ngFor="let item of newsFeedData">
                    <div [innerHTML]="item.HTMLContent" class="py-2 h-100 w-100"></div>
                </ion-col>
            </ion-row>
        </section>
        <!-- About Us -->
        <section id="aboutus" class="section">
            <ion-label class="title">{{'SCRN_HOME.TITLE.ABOUT_US' | translate}}</ion-label>
            <p class="mt-4 px-3 text-center">{{'SCRN_HOME.ABOUT_US_CONTENT' | translate}}</p>
        </section>
    </ion-grid>
    <!-- Modal: Check-In Success -->
    <ng-template #modalCheckInSuccess let-modal>
        <div class="modal-body text-center p-4">
            <h1 class="text-success fw-bolder">{{'SCRN_HOME.CHECKIN_SUCCESS' | translate}}</h1>
            <h6>{{'SCRN_HOME.WAIT_MSG' | translate}}</h6>
            <button type="button" class="btn btn-secondary mt-3 w-100" (click)="modal.close('OK')">OK</button>
        </div>
    </ng-template>
</ion-content>