<section id="hero" class="hero">
    <div class="container position-relative">
        <div id="heroMain" class="row py-4" data-aos="fade-in" data-aos-delay="100">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
                <h3>Welcome to ARX eQMS,</h3>
                <h1>{{ username }}<fa-icon icon="face-smile-beam" class="face-smile-beam ms-3 text-warning"></fa-icon></h1>
                <p class="font-size-10">Last active: {{ lastActive }}</p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center mb-2">
                <img src="assets/img/queue_cartoon.svg" width="300" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100" />
            </div>
        </div>
    </div>
    <div class="icon-boxes position-relative">
        <div class="container position-relative">
            <div class="row">
                <div class="col" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box rounded-4 shadow-lg">
                        <div id="walkin" *ngIf="isWalkIn">
                            <!-- Walk-In: Icon -->
                            <fa-icon *ngIf="walkInData[0].WalkInStat == 'QUEUING'" icon="check-double"   size="5x" class="text-success"></fa-icon>
                            <fa-icon *ngIf="walkInData[0].WalkInStat == 'UNKNOWN'" icon="phone-volume"   size="5x" class="text-light wave"></fa-icon>
                            <fa-icon *ngIf="walkInData[0].WalkInStat == 'SERVING'" icon="bell-concierge" size="5x" class="text-dark"></fa-icon>
                            <!-- Walk-In: Message -->
                            <p class="font-size-12 mt-2">
                                {{ walkInData[0].WalkInStat == 'QUEUING' ? 'You\'ve successfully checked-in!' : ''}}
                                {{ walkInData[0].WalkInStat == 'UNKNOWN' ? 'It\'s your turn! Please head to the calling counter' : '' }}
                                {{ walkInData[0].WalkInStat == 'SERVING' ? 'You\'re currently being served!' : '' }}
                            </p>
                            <!-- Walk-In: Status Title -->
                            <h1 *ngIf="walkInData[0].WalkInStat == 'QUEUING' || walkInData[0].WalkInStat == 'SERVING'">{{ walkInData[0].Service }}</h1>
                            <!-- Walk-In: Notice -->
                            <p *ngIf="walkInData[0].WalkInStat == 'QUEUING'" class="font-size-12"> *Please wait in the waiting area, we'll call and serve you in a few minutes.</p>
                        </div>
                        <div id="appt" *ngIf="isAppt">
                            <!-- Appt: Icon -->
                            <fa-icon *ngIf="apptData[0].ApptStat == 'NEW'"     icon="calendar-check" size="5x" class="text-primary"></fa-icon>
                            <fa-icon *ngIf="apptData[0].ApptStat == 'QUEUING'" icon="check-double"   size="5x" class="text-success"></fa-icon>
                            <fa-icon *ngIf="apptData[0].ApptStat == 'SERVING'" icon="bell-concierge" size="5x" class="text-dark"></fa-icon>
                            <!-- Appt: Message -->
                            <p class="font-size-12 mt-2">
                                {{ apptData[0].ApptStat == 'NEW'     ? 'Don\'t forget you\'ve an appointment with us!' : ''}}
                                {{ apptData[0].ApptStat == 'QUEUING' ? 'You\'ve successfully checked-in!' : '' }}
                                {{ apptData[0].ApptStat == 'SERVING' ? 'You\'re currently being served!' : '' }}
                            </p>
                            <!-- Appt: Status Title -->
                            <h3 *ngIf="apptData[0].ApptStat == 'NEW'">{{ apptData[0].Service }}</h3>
                            <h1 *ngIf="apptData[0].ApptStat == 'QUEUING' || apptData[0].ApptStat == 'SERVING'">{{ apptData[0].Service }}</h1>
                            <h3 *ngIf="apptData[0].ApptStat == 'NEW'">{{ apptData[0].ApptTime_Disp + ', ' + apptData[0].ApptDate_Disp }}<br>{{ apptData[0].OutletDesc }}</h3>
                            <!-- Appt: Notice -->
                            <p class="font-size-12">
                                {{ apptData[0].ApptStat == 'NEW'     ? '*Please be at the outlet 15 minutes before the appointment time to avoid being forfeited.' : '' }}
                                {{ apptData[0].ApptStat == 'QUEUING' ? '*Please wait in the waiting area, we\'ll call and serve you in a few moments.' : '' }}
                            </p>
                            <div *ngIf="apptData[0].ApptStat == 'NEW'" class="btn-group mt-2">
                                <button type="button" class="btn btn-danger" (click)="openModalCancelAppt();">Cancel Appointment</button>
                                <button type="button" [class]="'btn btn-primary ' + (enableCheckIn ? '' : 'd-none')" (click)="checkIn(1)">Check In Now</button>
                            </div>
                        </div>
                        <div *ngIf="!isAppt && !isWalkIn">
                            <fa-icon icon="calendar-xmark" size="4x" class="text-danger"></fa-icon>
                            <h5 class="mt-3">You don't have any appointment with us at the moment :(</h5>
                            <div class="btn-group mt-4">
                                <button type="button" class="btn btn-primary me-1" (click)="openModalConfirmWalkIn()">Walk-In</button>
                                <button type="button" class="btn btn-primary" (click)="openModalAppt()">Book Appointment</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<main>
    <section id="news" class="news py-4">
        <div class="container" data-aos="fade-up" data-aos-delay="300">
            <div class="section-header"><h2>Latest News</h2></div>
            <div class="row">
                <div class="col-md-4" *ngFor="let item of newsFeedData">
                    <div [innerHTML]="item.HTMLContent" class="py-3 h-100"></div>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="about py-4">
        <div class="container" data-aos="fade-up" data-aos-delay="300">
            <div class="section-header"><h2>About Us</h2></div>
            <div class="mt-2 px-4">
                <p class="text-justify">
                    The ultimate goal of Ar-Rahnu Exchange Electronic Queue Management System (ARX eQMS) is to provide efficient 
                    customer service, reduce waiting time and enhance customer experience.
                </p>
            </div>
        </div>
    </section>
</main>
<!-- Button: Scroll to Top -->
<button type="button" id="btnScrollToTop" class="btn px-3 py-2" *ngIf="isShow" (click)="scrolltoTop()">
    <fa-icon icon="plane-up" class="text-light"></fa-icon>
    <p class="d-none">up</p>
</button>
<!-- Modal: Confirm Walk-In -->
<ng-template #modalConfirmWalkIn let-modal>
    <div class="modal-body text-center p-4">
        <h4 class="mb-4">
            <span class="fw-semibold">Walk-in now ?</span>
            <span class="font-size-13 d-block text-secondary">Make sure that you are in one of our outlet.</span>
        </h4>
        <button type="button" class="btn btn-secondary me-3" (click)="modal.close('No')">No</button>
        <button type="button" class="btn btn-primary" (click)="modal.close('Yes'); checkIn(0)">Yes</button>
    </div>
</ng-template>
<!-- Modal: Check-In Success -->
<ng-template #modalCheckInSuccess let-modal>
    <div class="modal-body text-center p-4">
        <h1 class="text-success fw-bolder">Check-In Successful</h1>
        <h6>Please wait at the waiting area. We'll call and serve you in a few minutes.</h6>
        <button type="button" class="btn btn-secondary mt-3 w-100" (click)="modal.close('OK')">OK</button>
    </div>
</ng-template>
<!-- Modal: Appointment Cancel -->
<ng-template #modalCancelAppt let-modal>
    <div class="modal-body text-center p-4">
        <p>Are you sure to cancel this appointment?</p>
        <button type="button" class="btn btn-secondary me-3" (click)="modal.close('No')">No</button>
        <button type="button" class="btn btn-danger" (click)="deleteAppt(); modal.close('Yes')">Yes</button>
    </div>
</ng-template>
<!-- Modal: Appointment Booking -->
<ng-template #modalAppt let-modal>
    <div id="modalApptDateTimeModalHeader" class="modal-header">
        <h5>Appoinment Booking</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="getOutletList(''); modal.dismiss('')"></button>
    </div>
    <div class="modal-body">
        <mat-stepper #stepperBookAppt linear orientation="vertical" animationDuration="700">
            <!-- Select State & Outlet -->
            <mat-step>
                <ng-template matStepLabel>Prefered Outlet: <b class="ms-2">{{ selectedOutletDesc }}</b></ng-template>
                <div id="panelOutlet" class="row justify-content-center">
                    <mat-form-field appearance="outline" hideRequiredMarker="false" floatLabel="always" class="col-12 col-lg mt-3">
                        <mat-label>State</mat-label>
                        <mat-select placeholder="--select state--" (selectionChange)="getOutletList($event.value)" required>
                            <mat-option *ngFor="let item of stateOutletData" [value]="item.StateID">{{ item.StateName }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="selectedStateID != ''" appearance="outline" hideRequiredMarker="false" floatLabel="always" class="col-12 col-lg mt-3">
                        <mat-label>Outlet</mat-label>
                        <mat-select placeholder="--select outlet--" (selectionChange)="getApptDates($event.value)" required>
                            <mat-option *ngFor="let item of outletByStateData" [value]="item.OutletID + '|' + item.OutletSDesc">{{ item.OutletSDesc }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-step>
            <!-- Select Date -->
            <mat-step *ngIf="enableSelectApptDate()">
                <ng-template matStepLabel>Available date: <b class="ms-2">{{ selectedDate_Disp }}</b></ng-template>
                <div id="panelDate" class="text-center mt-3">
                    <section *ngIf="this.apptDateList.length > 0">
                        <button *ngFor="let item of apptDateList" type="button" class="btn btn-success m-1" (click)="getApptTime(item.ApptDate_Data, item.ApptDate_Disp)">{{ item.ApptDate_Disp }}</button>
                    </section>
                    <p *ngIf="this.apptDateList.length == 0" class="text-secondary fst-italic">Sorry, there are no available dates. Please choose another outlet.</p>
                </div>
            </mat-step>
            <!-- Select Time -->
            <mat-step *ngIf="enableSelectApptTime()">
                <ng-template matStepLabel>Available time slot: <b class="ms-2">{{ selectedTime_Disp }}</b></ng-template>
                <div id="panelTime" class="text-center">
                    <button *ngFor="let item of apptTimeList" class="col-auto" type="button" class="btn btn-warning m-1"
                    (click)="setApptTime(item.SlotTime_Data, item.SlotTime_Disp)">{{ item.SlotTime_Disp }}</button>
                </div>
            </mat-step>
            <!-- Select Service Type -->
            <mat-step *ngIf="enableSelectServiceType()">
                <ng-template matStepLabel>Prefered service: <b class="ms-2">{{ selectedServiceType_Disp }}</b></ng-template>
                <div class="text-center mt-3">
                    <div class="btn-group">
                        <input type="radio" class="btn-check" name="serviceType" id="serviceTypeRedemption" autocomplete="off" (click)="setApptServiceType('0')" />
                        <label class="btn btn-light" for="serviceTypeRedemption">Redemption</label>
                        <input type="radio" class="btn-check" name="serviceType" id="serviceTypePawn" autocomplete="off" (click)="setApptServiceType('1')" />
                        <label class="btn btn-light" for="serviceTypePawn">Pawn</label>
                    </div>
                </div>
            </mat-step>
            <!-- Confirmation -->
            <mat-step *ngIf="enableConfirmation()">
                <ng-template matStepLabel>Confirm appoinment?</ng-template>
                <div class="mt-3 w-100 text-center">
                    <button type="button" class="btn btn-secondary me-3" (click)="getOutletList(''); modal.close('Cancel')">Cancel</button>
                    <button type="button" class="btn btn-success" (click)="createAppt(); modal.close('Confirmed')">Confirm</button>
                </div>
            </mat-step>
        </mat-stepper>
    </div>
</ng-template>