<ion-content>
    <section id="hero" class="hero shadow h-100">
        <div class="container position-relative">
            <div id="heroMain" class="py-lg-5 wrap-center text-center">
                <fa-icon icon="question" size="10x" class="text-danger mb-3"></fa-icon>
                <h1 class="m-0">404</h1>
                <h4 class="m-0">Not Found</h4>
                <h6>Sorry! We cannot find your requested page. Maybe you can go back to the previous page and start again from there.</h6>
                <button type="button" class="btn btn-secondary mt-3" (click)="location.back()">Go Back</button>
            </div>
        </div>
    </section>
</ion-content>