<ion-content>
    <div class="bg-default">
        <div class="wrap-center">
            <div class="text-center bg-light rounded-4 shadow p-5">
                <fa-icon icon="clipboard-question" size="8x" class="text-danger d-block"></fa-icon>
                <ion-label class="mt-3 fw-bold d-block font-size-30">404</ion-label>
                <ion-label class="fw-bold d-block font-size-18">{{'SCRN_404.TITLE' | translate}}</ion-label>
                <ion-label class="mt-2 d-block">{{'SCRN_404.TITLE_DESCR' | translate}}</ion-label>
                <button type="button" class="btn btn-secondary mt-3" (click)="location.back()">{{'BACK' | translate}}</button>
            </div>
        </div>
    </div>
</ion-content>