<ion-content>
    <div class="bg-default">
        <div class="wrap-center">
            <div class="content bg-light shadow-lg rounded-3 p-lg-5 p-4 text-center">
                <img id="logo" src="assets/img/arx_logo.jpeg" alt="Ar-Rahnu" width="150" />
                <h5 class="mt-3 text-center fw-bold">{{'OTP_VERIFICATION.TITLE' | translate}}</h5>
                <p class="font-size-12">{{'OTP_VERIFICATION.DESCR' | translate}} <b class="text-dark-emphasis">{{ registerData.Email }}</b></p>
                <form id="formOTPVerification" [formGroup]="formOTPVerification" class="mt-3 w-100">
                    <input #otp1 formControlName="otp1" type="text" maxlength="1" (keypress)="g.numberOnly($event)" (keyup)="keyupOTP1($event)" required />
                    <input #otp2 formControlName="otp2" type="text" maxlength="1" (keypress)="g.numberOnly($event)" (keyup)="keyupOTP2($event)" required />
                    <input #otp3 formControlName="otp3" type="text" maxlength="1" (keypress)="g.numberOnly($event)" (keyup)="keyupOTP3($event)" required />
                    <input #otp4 formControlName="otp4" type="text" maxlength="1" (keypress)="g.numberOnly($event)" (keyup)="keyupOTP4($event)" required />
                    <input #otp5 formControlName="otp5" type="text" maxlength="1" (keypress)="g.numberOnly($event)" (keyup)="keyupOTP5($event)" required />
                    <input #otp6 formControlName="otp6" type="text" maxlength="1" (keypress)="g.numberOnly($event)" (keyup)="keyupOTP6($event)" required />
                </form>
                <div align="end" class="mt-2 font-size-12">
                    <a href="javascript:void(0)" class="fw-bold" (click)="resendOTP()">{{'OTP_VERIFICATION.RESEND' | translate}}</a>
                </div>
                <button #btnSubmitFormOTPVerification type="button" class="btn btn-primary w-100 mt-4" (click)="submitFormOTPVerification()" [disabled]="!formOTPVerification.valid">{{'VERIFY' | translate}}</button>
            </div>
        </div>
    </div>
</ion-content>