.topbar  {
    --background: var(--primary-color);
    #topbarLogo { width: 70px; }
    
	a {
        color: #fff;
        &:hover {
            color: var(--secondary-color);
        }
    }
}

ion-header {
    ion-toolbar {
        ion-buttons ion-back-button, ion-title {
            --color: #fff;
        }
    }
}

ion-toolbar, ion-tab-bar {
    --background: #fff;
}

ion-tab-bar { 
    ion-tab-button { --color: #bdbdbd !important; }
}

/* Laptops/desktops, 1200px and up */
@media only screen and (min-width: 1200px) {}

/* Small laptops/desktops, 992px and up */
@media only screen and (min-width: 992px) {}

/* Landscape tablets, 992px and down */
@media only screen and (max-width: 992px) {
	.topbar {
		#topbarLogo { width: 150px; }
	}
}

/* Landscape tablets, 768px and up */
@media only screen and (min-width: 768px) {}

/* Portrait tablets and larger phones, 768px and down */
@media only screen and (max-width: 768px) {}

/* Portrait tablets and larger phones, 600px and up */
@media only screen and (min-width: 600px) {}

/* Phones, 600px and down */
@media only screen and (max-width: 600px) {
    #topbarLogout { span { display: none; } }
}