#hero {
    width: 100%;
    background: var(--primary-color);
    color: #fff;

    h1 {
        font-size: 52px;
        font-weight: 700;
        letter-spacing: 2px;
    }
	
    .icon-boxes { padding-bottom: 60px; }
	
	.icon-box {
        position: relative;
        overflow: hidden;
        transition: all 1s ease-in-out;
        z-index: 1;
        text-align: center;

        h3 { line-height: 22px; }

        &:hover {
            animation: heroSlideX 30s linear infinite;
            transform: scale(0.98);
        }
    }
}
@keyframes heroSlideX {
	from { background-position: top } to { background-position: bottom }
}
@keyframes heroSlideY {
	from { background-position: left } to { background-position: right }
}

/* Laptops/desktops, 1200px and up */
@media only screen and (min-width: 1200px) {
    #hero {
        .hero { background-attachment: fixed; }
        
        .icon-boxes:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: calc(50% + 20px);
            background-color: #fff;
        }
    }
}

/* Small laptops/desktops, 992px and up */
@media only screen and (min-width: 992px) {
    #hero {
        h1 { font-size: 36px; }
    }
}

/* Landscape tablets, 992px and down */
@media only screen and (max-width: 992px) {}

/* Landscape tablets, 768px and up */
@media only screen and (min-width: 768px) {}

/* Portrait tablets and larger phones, 768px and down */
@media only screen and (max-width: 768px) {}

/* Portrait tablets and larger phones, 600px and up */
@media only screen and (min-width: 600px) {}

/* Phones, 600px and down */
@media only screen and (max-width: 600px) {}