.topbar { --background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) !important; }

ion-content { --background: transparent; }

.square {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    width: 200px;
    height: 200px;
    border: 6px solid white;
    box-shadow: 0 0 0 4000px rgba(0, 0, 0, 0.3);
}

ion-modal {
    ion-toolbar  {
        &.walkInServiceType {  --background: #1a9d48 !important; }
        &.errorMsg          {  --background: #bc1d32 !important; }
    }

    ion-buttons {
        &:hover { transform: scale(0.95); }
    }
}

/* Laptops/desktops, 1200px and up */
@media only screen and (min-width: 1200px) {}

/* Small laptops/desktops, 992px and up */
@media only screen and (min-width: 992px) {}

/* Landscape tablets, 992px and down */
@media only screen and (max-width: 992px) {}

/* Landscape tablets, 768px and up */
@media only screen and (min-width: 768px) {}

/* Portrait tablets and larger phones, 768px and down */
@media only screen and (max-width: 768px) {}

/* Portrait tablets and larger phones, 600px and up */
@media only screen and (min-width: 600px) {}

/* Phones, 600px and down */
@media only screen and (max-width: 600px) {}