::ng-deep {
    zxing-scanner { 
        position: absolute;
        bottom: 35%;
        width: 100%;
    }
}

/* Laptops/desktops, 1200px and up */
@media only screen and (min-width: 1200px) {
    ::ng-deep {
        zxing-scanner {
            bottom: 0;
            height: 100%;
        }
    }
}

/* Small laptops/desktops, 992px and up */
@media only screen and (min-width: 992px) {}

/* Landscape tablets, 992px and down */
@media only screen and (max-width: 992px) {}

/* Landscape tablets, 768px and up */
@media only screen and (min-width: 768px) {}

/* Portrait tablets and larger phones, 768px and down */
@media only screen and (max-width: 768px) {}

/* Portrait tablets and larger phones, 600px and up */
@media only screen and (min-width: 600px) {}

/* Phones, 600px and down */
@media only screen and (max-width: 600px) {}