<ion-header class="ion-no-border">
    <ion-toolbar [class]="'topbar px-3 ' + (g.getIsMobileWeb() ? '' : 'pt-5')">
        <ion-buttons class="text-light fw-bolder" (click)="g.redirectBack('');"><fa-icon icon="arrow-left" class="me-2"></fa-icon></ion-buttons>
        <ion-title>Check-In</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="loaded">
    <section *ngIf="enableCheckIn; else invalidCheckIn">
        <div *ngIf="isSupported">
            <!-- <zxing-scanner previewFitMode="cover" (scanSuccess)="onScanSuccess($event)"></zxing-scanner> -->
            <div #square class="square"></div>
        </div>
        <div *ngIf="!isSupported" class="text-center mt-5">
            <fa-icon icon="rectangle-xmark" size="5x" class="text-danger"></fa-icon>
            <h2 class="fw-bolder">Scanner Is Not Supported On This Platform!</h2>
            <p class="px-2">Please use an Android or IOS device, or use the outlet manual check-in with your login ID and password.</p>
        </div>
    </section>
    <ng-template #invalidCheckIn class="ion-padding">
        <div class="text-center mt-5">
            <fa-icon icon="calendar-xmark" size="5x" class="text-danger"></fa-icon>
            <p class="mt-3">{{ msgErrCheckIn }}</p>
        </div>
    </ng-template>
</ion-content>
<!-- Modal: Walk In -->
<ng-template #modalWalkInServiceType let-modal>
    <div class="modal-body text-center p-4">
        <h4 class="text-center fw-bold">Walk-In</h4>
        <p class="text-secondary font-size-12 mt-3">Please select your prefered service:</p>
        <div class="text-center mb-5">
            <div class="btn-group">
                <input type="radio" class="btn-check" name="serviceType" id="serviceTypeRedemption" autocomplete="off" (click)="setApptServiceType('0')" />
                <label class="btn btn-light" for="serviceTypeRedemption">Redemption</label>
                <input type="radio" class="btn-check" name="serviceType" id="serviceTypePawn" autocomplete="off" (click)="setApptServiceType('1')" />
                <label class="btn btn-light" for="serviceTypePawn">Pawn</label>
            </div>
        </div>
        <button type="button" class="btn btn-secondary me-3" (click)="modal.close('No');">Cancel</button>
        <button type="button" class="btn btn-success" (click)="modal.close('Yes')" [disabled]="selectedWalkInServiceType == ''" (click)="walkIn()">Confirm</button>
    </div>
</ng-template>
<!-- Modal: Error message -->
<ng-template #modalErrorMsg let-modal>
    <div class="modal-body text-center p-4">
        <h1 class="text-danger fw-bolder">{{ errMsgTitle }}</h1>
        <button type="button" class="btn btn-secondary mt-3 w-100" (click)="modal.close('OK')">OK</button>
    </div>
</ng-template>