<ion-header class="ion-no-border">
    <ion-toolbar [class]="'topbar px-3 ' + (g.isMobileWeb ? 'pt-5' : '')">
        <ion-buttons class="text-light fw-bolder" (click)="g.redirectBack('');"><fa-icon icon="arrow-left" class="me-2"></fa-icon></ion-buttons>
        <ion-title>{{'CHECKIN' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="loaded">
    <section>
        <div #square class="square"></div>
    </section>
</ion-content>
<!-- Modals -->
<ion-modal [isOpen]="modalIsOpen" [canDismiss]="!modalIsOpen" [initialBreakpoint]="0.5" [breakpoints]="[0.5, 1]">
    <ng-template>
        <ion-header>
            <ion-toolbar [class]="(g.isMobileWeb ? '' : 'pt-5') + ' ' + (modalMode == 'errorMsg' ? 'errorMsg' : 'walkInServiceType')">
                <ion-title>{{ modalTitle }}</ion-title>
                <ion-buttons slot="end" (click)="openModal(false, '')" class="text-decoration-underline text-light">{{'CLOSE' | translate}}</ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding text-center">
            <section *ngIf="modalMode == 'walkInServiceType'">
                <p class="text-secondary font-size-12 mt-3">{{'SCRN_CHECKIN.SELECT_SERVICE' | translate}}:</p>
                <div class="fw-bold mb-5">
                    <ion-chip (click)="selectedWalkInServiceType = '0'" [color]="selectedWalkInServiceType == '0' ? 'primary' : 'medium'" class="px-4 py-3">{{'REDEMPTION' | translate}}</ion-chip>
                    <ion-chip (click)="selectedWalkInServiceType = '1'" [color]="selectedWalkInServiceType == '1' ? 'primary' : 'medium'" class="px-4 py-3">{{'PAWN'       | translate}}</ion-chip>
                    <ion-chip (click)="selectedWalkInServiceType = '2'" [color]="selectedWalkInServiceType == '2' ? 'primary' : 'medium'" class="px-4 py-3">{{'PAYMENT'    | translate}}</ion-chip>
                </div>
                <div class="btn-group w-100">
                    <button type="button" class="btn btn-secondary" (click)="openModal(false, '')">{{'CANCEL' | translate}}</button>
                    <button type="button" class="btn btn-primary" (click)="openModal(false, ''); walkIn()" [disabled]="selectedWalkInServiceType == ''">{{'SUBMIT' | translate}}</button>
                </div>
            </section>
            <section *ngIf="modalMode == 'errorMsg'">
                <fa-icon icon="circle-exclamation" size="5x" class="text-danger"></fa-icon>
                <h2 class="fw-bolder my-3">{{ errMsgTitle }}</h2>
            </section>
        </ion-content>
    </ng-template>
</ion-modal>