<ion-header *ngIf="loaded" class="ion-no-border">
    <ion-toolbar class="topbar px-3 {{g.isMobile ? 'pt-5' : g.isMobileWeb ? 'pt-5' : ''}}">
        <ion-buttons class="text-light fw-bolder" (click)="g.redirectBack('');"><fa-icon icon="arrow-left" class="me-2"></fa-icon></ion-buttons>
        <ion-title>{{'CHECKIN' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<section>
    <div #square class="square"></div>
</section>
<!-- Modals -->
<ion-modal [isOpen]="modalIsOpen" [canDismiss]="!modalIsOpen" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
        <div class="pt-3 pb-5">
            <ion-toolbar>
                <ion-title class="text-secondary">{{modalTitle}}</ion-title>
                <ion-buttons slot="end">
                    <ion-button (click)="selectedWalkInServiceType = ''; openModal(false, '')">
                        <ion-icon slot="icon-only" name="close" color="danger" size="large"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
            <section *ngIf="modalMode == 'walkInServiceType'" class="w-100 px-5">
                <p class="text-center text-secondary font-size-12 mt-3">{{'SCRN_CHECKIN.SELECT_SERVICE' | translate}}:</p>
                <div class="fw-bold mt-1 text-center">
                    <ion-chip (click)="selectedWalkInServiceType = '0'" [color]="selectedWalkInServiceType == '0' ? 'primary' : 'medium'" class="px-4 py-3 w-100"><ion-label class="mx-auto">{{'REDEMPTION' | translate}}</ion-label></ion-chip>
                    <ion-chip (click)="selectedWalkInServiceType = '1'" [color]="selectedWalkInServiceType == '1' ? 'primary' : 'medium'" class="px-4 py-3 w-100"><ion-label class="mx-auto">{{'PAWN'       | translate}}</ion-label></ion-chip>
                    <ion-chip (click)="selectedWalkInServiceType = '2'" [color]="selectedWalkInServiceType == '2' ? 'primary' : 'medium'" class="px-4 py-3 w-100"><ion-label class="mx-auto">{{'PAYMENT'    | translate}}</ion-label></ion-chip>
                </div>
                <button type="button" class="btn btn-primary mt-4 w-100" (click)="openModal(false, ''); walkIn()" [disabled]="selectedWalkInServiceType == ''">{{'SUBMIT' | translate}}</button>
            </section>
        </div>
    </ng-template>
</ion-modal>