#mainContent {
    background: linear-gradient(rgba(255, 255, 255, 0.97), rgba(255, 255, 255, 0.98)), url("^assets/img/linear_abstract.jpg");
    background-size: cover;
    max-width: 1000px;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

/* Laptops/desktops, 1200px and up */
@media only screen and (min-width: 1200px) {}

/* Small laptops/desktops, 992px and up */
@media only screen and (min-width: 992px) {}

/* Landscape tablets, 992px and down */
@media only screen and (max-width: 992px) {}

/* Landscape tablets, 768px and up */
@media only screen and (min-width: 768px) {}

/* Portrait tablets and larger phones, 768px and down */
@media only screen and (max-width: 768px) {}

/* Portrait tablets and larger phones, 600px and up */
@media only screen and (min-width: 600px) {}

/* Phones, 600px and down */
@media only screen and (max-width: 600px) {}